<% content_for :title, 'Echelon IIOT | Commissioning Tool' %>
<div class="media-container clearfix">
  <div id="commissioning-tool" class="image-block products-block">
    <div class="video-block">
        <img alt="commissioning-tool" src="/assets/CommissiongTool.gif">
    </div>
    <div class="work-desc">
      <h2>COMMISSIONING TOOL</h2>
      <p>Install and commission your IzoT devices with the IzoT Commissioning Tool. Create larger and more complex networks than can be created using Interoperable Self-installation (ISI) that is available in every IzoT device.</p>
    </div>
  </div>  
</div>
<div class="content-wrap">
  <div class="content">
    <div class="main">
      <div class="get-started clearfix">
        <div class="block-left">
          <div class="side-block pt-0">
            <!-- <h3>technical documents</h3> -->
            <%= render :partial => 'izot_products/products_nav' %>
          </div>
          <div class="side-block">
            <h3><a href="http://iiotcommunity.echelon.com" target="_blank">COMMUNITY FORUM</a></h3>
          </div>
        </div>
        <div class="block-right clearfix">
          <div class="cols-1">
            <h3>COMMISSIONING TOOL</h3>
            <p>Install and commission a community of devices by simply drawing your network with the integrated Microsoft Visio tool. As you draw your network, the IzoT Commissioning Tool communicates with your devices to make them match your drawing.  To make two devices communicate, you draw a line between them. The result is a network drawing that serves as the as-built documentation for your network</p>
            <p>IzoT CT works with all IzoT and LonWorks devices giving you a wide variety of options for the devices to be installed in your networks. There are never any per-device fees, credits, or royalties when using the IzoT Commissioning Tool.</p>
            <p class="data-link">
              <a href="/assets/pdfs/Izot_Commissioning_Datasheet.pdf" target="_blank">Datasheet</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /content -->
</div>



