<% content_for :title, 'Echelon IIOT | Network Services Server' %>
<div class="media-container clearfix">
  <div id="network-services-server" class="image-block products-block">
    <div class="video-block">
        <img alt="network-services-server" src="/assets/ServicesServer.gif">
    </div>
    <div class="work-desc">
      <h2>NETWORK SERVICES SERVER</h2>
      <p>Create custom applications for Windows that install, commission, monitor, or control communities of IzoT devices.</p>
    </div>
  </div>  
</div>
<div class="content-wrap">
  <div class="content">
    <div class="main">
      <div class="get-started clearfix">
        <div class="block-left">
          <div class="side-block pt-0">
            <!-- <h3>technical documents</h3> -->
            <%= render :partial => 'izot_products/products_nav' %>
          </div>
          <div class="side-block">
            <h3><a href="http://iiotcommunity.echelon.com" target="_blank">COMMUNITY FORUM</a></h3>
          </div>
        </div>
        <div class="block-right clearfix">
          <div class="cols-1">
            <h3>NETWORK SERVICES SERVER</h3>
            <p>Create or run applications to install, commission, monitor, and control a community of devices. The IzoT Network Services Server provides services for Windows applications to configure devices, connections, routers, and channels, as well as subsystems containing devices and routers.</p>
            <p>Create IzoT or LonWorks networks with up to 32,385 devices on up to 1000 channels. Each device in the network can have up to 4096 datapoints or network variables. Create peer-to-peer connections between devices or between groups of devices. Each network may contain tens of thousands of connections.</p>
            <p>The server works with all IzoT and LONWORKS devices giving you a wide variety of options for the devices to be installed in your networks. There are never any per-device fees, credits, or royalties when using the IzoT Network Services Server.</p>
            <p class="data-link">
              <a href="/assets/pdfs/IzoT_Network_Services_Server_Datasheet.pdf" target="_blank">Datasheet</a>
            </p>
            <p class="data-link">
              <a href="#" target="_blank">Request More Information</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /content -->
</div>



