<% content_for :title, 'Echelon IIOT | Industry perspective' %>

<div class="media-container clearfix">
  <div class="image-block" id="industry">
    <h2>Industry Perspective</h2>
  </div>
</div>
<div class="content-wrap">
  <div class="content">
    <div class="main">
      <div class="industry clearfix">
        <div class="block-left">
          <div class="side-block">
            <h3>Press Releases</h3>
            <ul>
              <li><a target="_blank" href="http://www.echelon.com/company/news-room/2013/Echelon-Broadens-its-Platform-to-Internet-of-Things-IIoT.htm">IzoT Platform</a></li>
              <li><a target="_blank" href="http://www.echelon.com/company/news-room/2013/Echelon-and-Marvell-Spur-Development-of-Interoperable-Wireless-Devices.htm">Marvell Partnership</a></li>
            </ul>
           </div>
           <div class="side-block uppercase ">
              <h3><a href="http://iiotcommunity.echelon.com" target="_blank">COMMUNITY FORUM</a></h3>
          </div> 
          <div class="side-block">
            <ul class="contact-social-media">
              <li><a title="rss" target="_blank" href="http://www.echelon.com/company/press/rss"><img src="/assets/rss.png" alt="rss"></a></li>
              <li><a title="facebook" target="_blank" href="https://www.facebook.com/echeloncorp"><img src="/assets/facebook.png" alt="facebook"></a></li>
              <li><a title="linkedin" target="_blank" href="http://www.linkedin.com/company/echelon?trk=fc_badge"><img src="/assets/linkedin.png" alt="linkedin"></a></li>
              <li><a title="twitter" target="_blank" href="https://twitter.com/echeloncorp"><img src="/assets/twitter.png" alt="twitter"></a></li>
            </ul>
          </div>
        </div>
        <div class="block-right">
          <div class="col-1">
            <h3>SEGMENTING THE INTERNET OF THINGS</h3>
            <p>  It’s time for a solid, working language to refer to a phenomenon that’s been developing for years: the Internet of Things (IoT). This has long been a nebulous phrase, hanging over numerous markets and referencing a number of seemingly disparate products. In an effort to better define this exciting new space, we offer an industry perspective as well as a set of vocabulary for better defining the IoT.</p>
            <p>The IoT is the reality that as the Internet and cloud-based software have become ubiquitous, the things which fill our daily lives must also be connected to the cloud -- and to each other -- as well. This is already happening, but when we understand current progress through the single IoT category, we can suddenly group together and understand products as distinct as FitBit wristbands and industrial-grade energy monitoring systems in buildings; or smart-fridges and fire-suppression systems on Naval submarines.</p>
            <p> Within this IoT space lie two major markets: the Industrial Internet of Things (IIoT) and the Human Internet of Things (HIoT). The names are self-explanatory; the latter refers to consumer-facing products, aimed at improving the individual lifestyle experience of users -- fixing “first world” problems. These human-facing technologies offer rich potential but mostly have yet to be developed on a large or sophisticated scale. The former, the IIoT, refers to integrating pre-existing systems like already hard-wired buildings, railroads, or street-lighting systems, making them internally communicative, and making them communicate with the cloud as well.</p>
            <p> Across both these spaces, we can now see that the possibilities for smoother, sleeker, cleaner control are multiplied beyond what we might have imagined a decade ago.</p>
            <p>Both challenges and opportunities in the IIoT are large. Because the IIoT will build out of a network of pre-existing buildings, devices, and construction, less ground-level innovation may be required, but industry standards for reliability are paramount. HIoT products will be introduced into the market already connected with cloud sensors; IIoT products require non-invasive engineering that can bring existing industry into a connected space.</p>
            <p>For developing technologies to exist in this IIoT space, certain success factors within the engineering and design will be crucial, affecting the reliability of such industrial-scale technologies. There is an enormous amount at stake in connecting security systems and building operations to the cloud. A fitness wristband failing might compromise one individual’s mood for a day, but an interconnected network of devices failing on an industrial scale can have huge consequences for an entire supply chain or even endanger individuals. With that responsibility looming, engineers in this space will want to think about success in several major categories: a network must be successfully physically connective, resilient in the face of failures -- so that a single node error does not bring down the entire system, extremely secure, and able to operate autonomously in the absence of Internet connection (as will be the case in many industrial operations).</p>
            <p>The market is overdue for a better conceptualization of this important emerging field. Moor Insights Strategy offers such a framework in this new paper. From the healthcare industry to retail to national security, much of our modern society will depend on linking up existing technologies to the cloud and with one another. It’s crucial that these linkages be made with care and intelligence, and with an eye to what’s happening in the wider market. Our notion of peer-to-peer networking devices, or “communities of devices,” offers a lens through which to comprehend the IoT, and provides vocabularies for developers, integrators, engineers, and makers seeking to enter a better connected industrial world.</p>
          </div>

          <div class="col-1">
            <h3>IIoT Literature: Executive Summary of Moor Insights Paper</h3>
            <p>Simply put, the Internet of Things (IoT) is a pairing of physical objects (things) and services. As  the Internet and the protocol that ties it all together, the Internet Protocol (IP), become ubiquitous, it is only natural that  everyday things or devices will increasingly connect with each other and to the cloud. However, this concept spans a very large number of use cases that are strikingly different from one another, from FitBit wristbands to fire management systems on a submarine. In an effort to better define the IoT and to distinguish the “Industrial Internet of Things” from other use cases, we are pleased to offer a perspective from noted analysts, Moore Insights Strategy.</p>
            <p>Moore segments the IoT into the Industrial Internet of Things (IIoT) and the Human Internet of Things (HIoT). The names are self-explanatory; the latter, the HIoT, refers to consumer-facing products, aimed at improving the individual lifestyle experience of users. The former, the IIoT, builds on pre-existing systems like building automation systems, railroad control systems, or street-lighting systems. These are the systems or devices that produce the industrial small data that then gets aggregated in the cloud into big data. Much more than the HIoT, the IIoT is about control without compromise. In the IIoT the bar is high for requirements such as reliability and security. Concerns such as interoperability with existing assets or 20 year life spans are unique to the IIoT.</p>
            <p>Developers, application developers, and integrators looking to enable and profit from the IIoT need a framework to think about the different use cases and their requirements. We think that this paper from Moor Insights Strategy offers  exactly that.</p>
          </div>
          <div class="col-1">
            <h3>Read More….</h3>
            <p>To download both industry perspective papers from Moor Insights & Strategy, register here for access:</p>

            <div class="registration">
              <form class="register-form" method="post" enctype="application/x-www-form-urlencoded" action="http://info.echelon.com/index.php/leadCapture/save" id="mktForm_1122" name="mktForm_1122" target="form-data-submission">
                <input id="FirstName" type="text" placeholder="FIRST NAME" name="FirstName" maxlength='255' tabIndex='1'>
                <input id="LastName" type="text" placeholder="LAST NAME" name="LastName" type='text' maxlength='255' tabIndex='2'>
                <input id="Title" type="text" placeholder="TITLE" name="Title" maxlength='255' tabIndex='3'>
                <input id="Company" type="text" placeholder="COMPANY" name="Company"maxlength='255' tabIndex='4'>
                <input id="Email" type="email" placeholder="EMAIL" name="Email" tabIndex='5'>
                <span class='mktFormMsg error form-error'></span>
                <input id="form-submit" class="submit" type="submit" value="DOWNLOAD" name='submitButton' tabindex="5">

                <span style="display:none;"><input type="text" name="_marketo_comments" value="" /></span>
                <input type="hidden" name="lpId" value="2155" />
                <input type="hidden" name="subId" value="15" />
                <input type="hidden" name="munchkinId" value="940-ZQO-733" />
                <input type="hidden" name="kw" value="" />
                <input type="hidden" name="cr" value="" />
                <input type="hidden" name="searchstr" value="" />
                <input type="hidden" name="lpurl" value="http://info.echelon.com/Industry-Temp.html?cr={creative}&kw={keyword}" />
                <input type="hidden" name="formid" value="1122" />
                <input type="hidden" name="returnURL" value="http://www.echelon.com" />
                <input type="hidden" name="retURL" value="http://www.echelon.com" />
                <input type="hidden" name="returnLPId" value="-1" />
                <input type="hidden" name="_mkt_disp" value="return" />
                <input type="hidden" name="_mkt_trk" value="id:940-ZQO-733&token:_mch-echelon.com-1382783006563-43658" />
              </form>
            </div>
            <div class="thankyou-content" style="display: none;">
              <p>Thank you for sharing your information. </p>
              <a target="_blank" href=" http://info.echelon.com/rs/echelon/images/Behaviorally-Segmenting-the-IoT-by-Moor-Insights-Strategy.pdf">Download "Behaviorally Segmenting the IoT by Moor Insights Strategy"</a>
              <a target="_blank" href="http://info.echelon.com/rs/echelon/images/Connecting%20with%20the%20Industrial%20Internet%20of%20Things%20%28IIoT%29%20by%20Moor%20Insights%20&%20Strategy.pdf">Download "Connecting with the Industrial Internet of Things (IIoT) by Moor Insights & Strategy"</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /content -->
</div>



<iframe name="form-data-submission" style="display: none;"></iframe>

<!--<script type="text/javascript" src="assets/mktFormSupport.js"></script>-->
<script type="text/javascript">
  $('#form-submit').click(function(e){
    var error_len = [];
    $('.register-form input:visible').each(function(){
      if($(this).val().length == 0 || $(this).val() == $(this).attr('placeholder'))
        error_len.push($(this).attr('id'));
    });

    if(error_len.length > 0)
    {
      $('.mktFormMsg').text("All fields are required.");
      e.preventDefault();
    }
    else if(!checkEmail($('#Email'))){
      $('.mktFormMsg').text("All fields are required.");
      e.preventDefault();
    }
    else
    {
      $('.thankyou-content').css('display','block');
      $('.registration').css('display','none');

      formSubmit(document.getElementById("mktForm_1122"));
    }
  });

  function formSubmit(elt) {
    return Mkto.formSubmit(elt);
  }
  function formReset(elt) {
    return Mkto.formReset(elt);
  }
</script>
