<% content_for :title, 'Echelon IIOT | IzoT Platform' %>

<div class="media-container clearfix">
  <div id="get-started" class="image-block">
    <div class="video-block">
      <!-- <a href="//player.vimeo.com/video/78031411" title="Inside the Izot Lab" class="video"> -->
        <img alt="Inside the Izot Lab" src="assets/IzoT_anime2.gif">
      <!-- </a>
 -->    </div>
    <div class="work-desc">
      <h2>PLATFORM FOR IIoT DEVICES AND APPLICATIONS</h2>
      <p>The IzoT™ Platform is an IP-enabled family of chips, stacks, interfaces, and management software that enables the development of devices, peer-to-peer device communities, and applications for the Industrial  Internet of Things. Unlike consumer-grade platforms, the IzoT Platform comprehensively addresses  four unique IIoT requirements: autonomous control, industrial-strength reliability, legacy co-existence and evolution, and hardened security.</p>
    </div>
  </div>
</div>
<div class="content-wrap">
  <div class="content">
    <div class="main">
      <div class="get-started clearfix">
        <div class="block-left">
          <div class="side-block no-bd pt-0">
            <!-- <h3>technical documents</h3> -->
            <ul class="pr-aside">
              <li><a href="http://www.echelon.com/company/news-room/2013/Echelon-Broadens-its-Platform-to-Internet-of-Things-IIoT.htm" target="_blank">IzoT Press Release</a></li>
              <li><a href="http://www.echelon.com/company/news-room/2014/Echelon-New-IzoT-Enabled-Multiprotocol-FT-6050-System-on-Chip.htm" target="_blank">FT 6050 Press release</a></li>
            </ul>
            <ul class="pt-15">
              <li><a href="http://info.echelon.com/2014IzoTMicrosite_whitepaperRequirementsIIoT.html" target="_blank">Technical Whitepaper: IIoT Requirements and the IzoT Platform</a></li>
              <li><a href="http://info.echelon.com/2014IzoTMicrositerefresh_IndustrialPaperSegmentingIoT.html" target="_blank">Industry Whitepaper: Segmenting the Internet of Things</a></li>
              <li><a href="http://info.echelon.com/2014IzoTMicrositerefresh_3aIndustrialPaperConnectingwiththeIIoT.html" target="_blank">Industry Whitepaper: Connecting with the Industrial Internet of Things</a></li>
              <li><a href="http://info.echelon.com/2014IzoTMicrositerefresh_4aIzoTPlatform_LWarticle.html"target="_blank">The IzoT Platform: The Next Generation of LonWorks</a></li>
              <li><a href="http://info.echelon.com/2014IzoTMicrositerefresh_5aIzoTPresentation.html" target="_blank">IzoT Presentation</a></li>
            </ul>
          </div>
          <div class="side-block">
            <h3><a href="http://iiotcommunity.echelon.com" target="_blank">COMMUNITY FORUM</a></h3>
          </div>
        </div>
        <div class="block-right clearfix  whitepaper-block">
          <img src="assets/izot-v3.png" alt="Anatomy of the IzoT" class="v3"/>
        </div>
      </div>
    </div>
  </div><!-- /content -->
</div>

